@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Fugaz+One&family=Merienda:wght@300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Press+Start+2P&family=Rowdies:wght@300;400;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: rgb(174, 172, 172);
}

.header {
    width: 100%;
    height: 90px;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: whitesmoke;

}

.header-box {
    flex: 1;
}
.left {
    display: flex;
    align-items: center;
    font-family: "Fugaz One";
    font-weight: 400px;
    font-style: normal;
}
.logo {
    width: 100px;
    height: 100px;
    display: inline-block;
    color: black;

}
.header-a {
    padding: 10px;
    font-size: 16px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.header-a:hover{
    text-decoration: underline;
    text-underline-offset: 5px;
}

.header-a:focus,
.header-a:active {
    text-decoration: underline;
    text-underline-offset: 5px;
}

.services {
    text-decoration: underline;
    text-underline-offset: 5px;
}
i {
    float: right;
    padding-right: 60px;
    font-size: 30px;
    color: black;
    
}
.burg{
   display: none;
}

h1 {
    margin: -33px;
    padding-top: 2px;
    font-size: 40px;
    font-weight: bold;
}
i:hover {
    cursor: pointer;
}

.bg-intro {
    width: 100%;
    height: 55vh;
    overflow: hidden;
    position: relative;
    z-index: -2;
    background-color: black;
    
}
video {
    width: 100%;
    height: 210%;
    position: absolute; 
    filter: brightness(20%);
    z-index: -1;
}
.about-header {
    text-align: center;
    color:rgb(172, 172, 172);
    padding-top: 150px;
    font-family: "Fugaz";
    font-size: 100px;
}
.twoo {
    width: 100%;
    height: 50vh;
    padding: 200px;
    padding-top: 70px;
    background-color: rgb(230, 230, 230);
    text-align: center;

}

.cont-two {
    width: 100%;
    height: 50vh;
    display: grid;
    gap: 80px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(300px);
    border-radius: 10px;
    margin-top: -120px;
}
.boxes {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 60px;
    box-shadow: 0 0 10px rgb(120, 120, 120);
    z-index: 3;
}
h2, p {
    text-align: center;

}
p {
    padding-top: 60px;
}
.it {
    padding-top: 35px;
}
.footer {
    width: 100%;
    height: 60px;
    background-color: rgb(174, 172, 172);
}







@media (max-width:1024px) {
    .middle {
        display: none;

    }
    
    .burg{
        display: block;
     }
     .cont-two {
        width: 100%;
        height: auto;
        gap: 80px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: minmax(300px);
        border-radius: 10px;
        margin-top: -120px;
    }
    .footer {
        background-color: rgb(230, 230, 230);
    }
    body {
        background-color: rgb(230, 230, 230);
    }

    .twoo {
        width: 100%;
        height: 50vh;
        padding: 20px;
        padding-top: 70px;
        background-color: rgb(230, 230, 230);
        text-align: center;
    
    }
    video {
        width: 100%;
        height: 130%;
        position: absolute; 
        filter: brightness(20%);
        z-index: -1;
    }
}



@media (max-width:500px) {
    .middle {
        display: none;
    }
    .right {
        display: block;
    }
    body {
        background-color: rgb(230, 230, 230);
    }
    .footer {
        background-color: rgb(230, 230, 230);
    }
    .twoo {
        width: 100%;
        height: 50vh;
        padding: 20px;
        padding-top: 70px;
        background-color: rgb(230, 230, 230);
        text-align: center;
    
    }
    .about-header {
        text-align: center;
        color:rgb(172, 172, 172);
        padding-top: 150px;
        font-family: "Fugaz";
        font-size: 50px;
    }
    video {
        width: 100%;
        height: 70%;
        position: absolute; 
        filter: brightness(20%);
        z-index: -1;
    }
}
